/*style*/
body{
	font:14px/18px arial,sans-serif;
	background-image:url(background.jpg);
}
.header{
padding: 20px;
padding-bottom: 10px;
}
.header ul li {
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
}
.header a{
	text-decoration: none;
	color: #3ec7b0;
	padding: 3px;

}
.content{
	padding: 20px;
}
.footer {
  background-color:#3ec7b0;
   padding:2px;

}
.footer {
  background-color: #3ec7b0;
   padding:2px;

}
