body {
    background-color: #53b5af;
}

table{
    background-color: 4d7a78;
    border : 1px solid black;
    text-align : center;
    font-size : 30px;
}

td{
    padding : 25px;
    
}
h5 a{
    text-decoration: none;
    color: white;
    font-size: 50px;
}
h3{
    text-align : center;
    font-size : 50px;
    color: white;
}